@import url('./base.css');

#app {
  width: auto;
  margin: 0 25%;
  margin-top: 48px;
}

a,
.green {
  text-decoration: none;
  color: hsl(160deg 100% 37% / 100%);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsl(160deg 100% 37% / 20%);
  }
}

@media (width <= 768px) {
  #app {
    margin: 0 5%;
  }
}

@media ((width > 768px) and (width <= 1023px)) {
  #app {
    margin: 0 10%;
    margin-top: 24px;
  }
}

@media (width >= 1024px) {
  #app {
    margin: 0 15%;
    margin-top: 48px;
  }
}

@media (width >= 1440px) {
  #app {
    margin: 0 20%;
    margin-top: 48px;
  }
}

@media (width >= 1920px) {
  #app {
    margin: 0 30%;
    margin-top: 48px;
  }
}

@media (width >= 2560px) {
  #app {
    margin: 0 35%;
    margin-top: 48px;
  }
}
