@import url('./base.css');

#app {
  width: auto;
  margin: 0 25%;
  margin-top: 48px;
}

a,
.green {
  text-decoration: none;
  color: #80ed99;
  background: linear-gradient(to right, #292b27, #292b27),
    linear-gradient(to right, #00bd7e, #00f0a0);
  background-size:
    100% 1px,
    0 1px;
  background-position:
    100% 100%,
    0 100%;
  background-repeat: no-repeat;
  transition: background-size 0.25s cubic-bezier(0.16, 1, 0.3, 1);
}

@media (hover: hover) {
  a:hover {
    background-size:
      0 1px,
      100% 1px;
  }
}

@media (width <= 768px) {
  #app {
    margin: 0 5%;
  }
}

@media ((width > 768px) and (width <= 1023px)) {
  #app {
    margin: 0 10%;
    margin-top: 24px;
  }
}

@media (width >= 1024px) {
  #app {
    margin: 0 15%;
    margin-top: 48px;
  }
}

@media (width >= 1440px) {
  #app {
    margin: 0 25%;
    margin-top: 48px;
  }
}

@media (width >= 1920px) {
  #app {
    margin: 0 35%;
    margin-top: 48px;
  }
}

@media (width >= 2560px) {
  #app {
    margin: 0 37%;
    margin-top: 48px;
  }
}
